body {
  font-family: 'Montserrat', sans-serif;
  color: $main-black;
  line-height: 1.76;
}
.cursor {
  cursor: url('../images/cursor.png'), auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

// ВИКОРИСТОВУЄМО ДЛЯ ПРИХОВАНИХ ЕЛЕМЕНТІВ

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// КЛАС ДЛЯ ПРИХОВУВАННЯ МОДАЛОК

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// ЗАДАЄМО ВСІМ КОНТЕНТНИМ ЗОБРАЖЕННЯМ

img,
.image {
  display: block;
  max-width: 100%;
  height: auto;
}

// ЗАДАЄМО ВСІМ СПИСКАМ
ul,
.list {
  list-style: none;
  padding-left: 0;
}

// ЗАДАЄМО ВСІМ ПОСИЛАННЯМ
a,
.links {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

// ЗАДАЄМО ВСІМ КНОПКАМ
.btn {
  font-family: 'Montserrat';
  text-align: center;
  border-radius: 10px;
  padding: 12px 34px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: $main-black;
}

// ДЛЯ КНОПОК З ЗАЛИВКОЮ ФОНУ

.btn--standart {
  background-color: $accent-yellow;
  @include transition(color, background-color);

  &:hover {
    background-color: $accent-green;
  }
  &:focus {
    background-color: $accent-green;
    color: $main-white;
  }
}

// ДЛЯ ПРОЗОРИХ КНОПОК З БОРДЕРАМИ

.btn--transparent {
  background-color: transparent;
  border: 2px solid $accent-yellow;
  @include transition(color, border-color);

  &:hover {
    border: 2px solid $accent-green;
  }
  &:focus {
    border: 2px solid $accent-green;
    color: $main-white;
  }
}

// ЗАДАЄМО ВСІМ КОНТЕЙНЕРАМ-ОБГОРТКАМ

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}

// ЗАДАЄМО ВСІМ СЕКЦІЯМ

.section {
  padding-top: 60px;
}

// ЗАДАЄМО ЗАГОЛОВКАМ СЕКЦІЙ

.section__header {
  font-family: 'Seymour One';
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-black;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
  }
}
