.contact {
  display: flex;
  background-color: $main-bg-green;
}

.contact-list {
  display: flex;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  transform: translateY(-347px);

  @media screen and (min-width: 768px) {
    column-gap: 16px;
    margin-bottom: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    transform: translateY(-303px);
  }
  @media screen and (min-width: 1200px) {
    transform: translateY(-96px);
    margin-bottom: 64px;
  }
}

.contact-item {
  width: 100%;
  padding: 40px 32px;
  background: $main-white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include font(500, 12px, 1.86, 0.04em);
  text-decoration: none;

  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 224px;
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
    @include font(500, 16px, 1.86, 0.04em);
  }
}

.contact-cafe {
  display: inline-block;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: $accent-yellow;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    padding-right: 14px;
    padding-left: 14px;
  }
}
.contact-city {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }
}
.contact-adress {
  // transition-property: text-decoration;
  // transition-delay: 500ms;
  // transition-timing-function: ease-out;

  @include font(500, 12px, 1.86, 0.04em);
  color: $bg-orange;
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }

  &:hover,
  :focus {
    text-decoration: underline;
  }
}

.mode-data {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid $footer-divider-grey;
  border-bottom: 1px solid $footer-divider-grey;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-mode-day {
  @include font(500, 12px, 1.86, 0.04em);
  color: $main-black;
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }
}

.contact-mode-time {
  @include font(500, 12px, 1.86, 0.04em);
  color: $footer-text-grey;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }
}

.contact-links {
  @include font(500, 12px, 1.5, 0.04em);
  color: $main-black;
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }
}

.contact-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-347px);
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    transform: translateY(-285px);
  }
  @media screen and (min-width: 1200px) {
    transform: translateY(-78px);
  }
}

/*----------------footer-------------*/
.footer {
  display: flex;
  flex-direction: column;
  background: $main-bg-green;
  padding-top: 43px;
  padding-bottom: 62px;
  margin-top: -300px;
  @media screen and (min-width: 768px) {
    margin-top: -285px;
    padding-bottom: 13px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -1px;
    padding-top: 43px;
    padding-bottom: 11px;
  }

  &__btn {
    width: 196px;
    height: 46px;

    &:hover,
    :focus {
      @include animation-shake;
    }
  }
  &__btn:first-child {
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
  &__btn-icon {
    margin-left: 5px;
    fill: none;
    stroke: $main-black;
    width: 12px;
    height: 12px;
    transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-data-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 54px;
  }
}
.footer-title {
  width: 180px;
  @media screen and (min-width: 768px) {
    width: 352px;
  }
  @media screen and (min-width: 1200px) {
    width: 504px;
  }
}
.footer-paragraf {
  @include font(700, 18px, 1.22, 0.04em);
  text-transform: uppercase;
  color: $main-white;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
.text-passion {
  @include font(700, 34px, 1.2, 0.04em);
  text-transform: uppercase;
  color: $main-white;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
    margin-top: 9px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.224;
    letter-spacing: 0.06em;
  }
}
.footer-soc {
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 6px;
  }
}
.soc__list {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-top: 42px;
  margin-bottom: 38px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
.soc__item {
  width: 32px;
  height: 32px;
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.soc__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;

  transition-duration: 250ms;
  transition-timing-function: ease-out;
  transition-property: transform;

  &:hover,
  :focus {
    transform: scale(1.3);
  }
}

.soc__icon {
  fill: $main-bg-green;
  width: 32px;
  height: 32px;
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.soc__icon:hover,
.soc__icon:focus {
  fill: $main-white;
}

.footer-tel {
  display: flex;
  justify-content: center;
  text-align: right;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    padding-bottom: 0;
  }
}

.footer-tel-black {
  @include font(700, 12px, 1.86, 0.04em);
  text-align: right;
  color: $main-black;
  margin-right: 2px;
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }
}
.footer-tel-white {
  @include font(700, 12px, 1.86, 0.04em);
  text-align: right;
  color: $main-white;
  @media screen and (min-width: 768px) {
    @include font(500, 14px, 1.83, 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 16px, 1.86, 0.04em);
  }
}

.footer-ltd {
  display: flex;
  justify-content: center;
  border-top: 1px solid $footer-divider-grey;
  padding-top: 16px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-top: 14px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}
.footer-company {
  display: flex;
  justify-content: center;
  width: 170px;
  color: $footer-copyright-grey;
  @include font(700, 14px, 1.86, 0.04em);
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
