 

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #84a178;
  padding: 120px 20px 0 20px;
}

.footer-paragraf {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  color: #fcfcfc;
}
.footer-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

.footer-btn-1 {
  background: #f8d24e;
  border: 1px solid #f8d24e;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: #131313;
}

.footer-btn-2 {
  border: 2px solid #f8d24e;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  color: #131313;
}

.footer-tel {
  text-align: right;

  border-bottom: 1px solid #e1e1e1;
}

.footer-tel-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #131313;
}
.footer-tel-tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #ffffff;
}

.footer-ltd {
  margin-top: 16px;
  margin-bottom: 62px;

  text-align: center;
  color: #7a7a7a;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
}

/*-----------------------CONTACTS--------------------*/

.contacts {
  position: absolute;
  display: flex;
  // top: -4px;
  }
.contacts-list {
  
  position: absolute;
  gap: 20px;
  flex-direction: column;
}

.contacts-item {
  width: 280px;
  padding: 40px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.contact-adress {
  font-weight: 500;
font-size: 12px;
line-height: 1.83;
letter-spacing: 0.04em;
color: #D6936D;
border-bottom: 1px solid #E1E1E1;

}
.contact-mode-day {
  font-weight: 500;
font-size: 12px;
line-height: 1.86;
color: #131313;
}

.contact-mode-time {
  font-weight: 500;
font-size: 12px;
line-height: 1.86;
color: #ABABAB;

  
}
