// @mixin font($fw, $fs, $lh, $ls) {
//   font-weight: $fw;
//   font-size: $fs;
//   line-height: $lh;
//   letter-spacing: $ls;
// }

.contact {
  display: flex;
  background-color: #84a178;
 }

.contact-list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  transform: translateY(-347px);
}

.contact-item {
  width: 280px;
  padding: 40px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include font(500, 12px, 1.86, 0.04em);
  text-decoration: none;
}

.contact-cafe {
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: #f8d24e;
  border-radius: 4px;
}

.contact-adress {
  @include font(500, 12px, 1.86, 0.04em);
  color: #d6936d;
  margin-top: 8px;
}

.mode-data {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 17px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contact-mode-day {
  @include font(500, 12px, 1.86, 0.04em);
  color: #131313;
}

.contact-mode-time {
  @include font(500, 12px, 1.86, 0.04em);
  color: #ababab;
  margin-bottom: 8px;
}

.contact-link {
  @include font(500, 12px, 1.5, 0.04em);
  color: #131313;
}
.contact-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-347px);
  }
  

.button-yelow {
  width: 196px;
  height: 46px;
  border: 1px solid #f8d24e;
  border-radius: 10px;
  @include font(600, 14px, 1.29, 0.04em);
  color: #131313;
  margin-bottom: 16px;
}

.button-green {
  width: 196px;
  height: 46px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: transparent;
  @include font(600, 14px, 1.29, 0.04em);
  color: #131313;
}

/*----------------footer-------------*/
.footer {
  display: flex;
  flex-direction: column;
  background: #84a178;
  margin-top: -300px;
}

.footer-paragraf {
  @include font(700, 18px, 1.22, 0.04em);
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}

.footer-title {
  
  width: 180px;

}

.text-passion {
  @include font(700, 34px, 1.2, 0.04em);
  text-transform: uppercase;
  color: #fcfcfc;
}


.soc__list {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-top: 42px;
  margin-bottom: 38px;

}
.soc__item {
  width: 32px;
  height: 32px;
}

.soc__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
}

.soc__icon {
  fill: #84a178;
}

.soc__icon:hover,
.soc__icon:focus {
  fill: white;
}

.footer-tel {
  display: block;
  text-align: right;
  border-bottom: 1px solid #e1e1e1;
}

.footer-tel-black {
  @include font(700, 12px, 1.86, 0.04em);
  text-align: right;
  color: #131313;
}
.footer-tel-white {
  @include font(700, 12px, 1.86, 0.04em);
  text-align: right;
  color: #ffffff;
}


.footer-ltd {
  
  width: 170px;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 62px;
}

.footer-company {
  display: flex;
  color: #7a7a7a;
  @include font(700, 14px, 1.86, 0.04em);
  
}
