.customers-reviews {
  &__container {
    width: 1200px;
    padding: 144px 116px 207px;
  }
  &__slider {
    width: 100%;
    position: relative;
  }
  &__list {
    display: flex;
    margin-bottom: 0;
    min-width: 0;
    // overflow-x: hidden;
  }
  &__item {
    //   display: flex;
    //   flex-direction: column;
    //   flex-wrap: wrap;
    min-width: 100%;
    min-height: auto;
    position: relative;
    background-color: transparent;
  }
  &__item::before {
    content: '';
    position: absolute;
    top: -32px;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -100%);
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
  &__item:nth-child(1)::before {
    background-color: $main-bg-green;
    background-image: url('../images/gallery-reviews/slide-photo-1-85-1x-min.png');
    background-position: center;
    background-size: contain;
  }
  &__item:nth-child(2)::before {
    background-color: $main-bg-green;
    background-image: url('../images/gallery-reviews/slide-photo-2-85-1x-min.png');
    background-position: center;
    background-size: contain;
  }
  &__item:nth-child(3)::before {
    background-color: $main-bg-green;
    background-image: url('../images/gallery-reviews/slide-photo-3-85-1x-min.png');
    background-position: center;
    background-size: contain;
  }
  &__item:nth-child(4)::before {
    background-color: $main-bg-green;
    background-image: url('../images/gallery-reviews/slide-photo-4-85-1x-min.png');
    background-position: center;
    background-size: contain;
  }

  &__quote {
    width: 100%;
    min-height: 256px;
    display: block;
    margin-bottom: 30px;
    padding: 34px 39px;
    background-color: $main-bg-green;
    border-radius: 24px;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    color: $main-white;
  }
  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    color: $main-black;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .customers-reviews {
    &__item:nth-child(1)::before {
      background-image: url('../images/gallery-reviews/slide-photo-1-85-2x-min.png');
    }
    &__item:nth-child(2)::before {
      background-image: url('../images/gallery-reviews/slide-photo-2-85-2x-min.png');
    }
    &__item:nth-child(3)::before {
      background-image: url('../images/gallery-reviews/slide-photo-3-85-2x-min.png');
    }
    &__item:nth-child(4)::before {
      background-image: url('../images/gallery-reviews/slide-photo-4-85-2x-min.png');
    }
  }
}

.swiper-button-prev {
  outline: 1px solid blue;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 88px;
  height: 150%;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateX(-100%);
}
.swiper-button-next {
  outline: 1px solid blue;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 88px;
  height: 150%;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateX(100%);
}

.swiper-pagination {
  //   position: absolute;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
  // text-align: center;
  // transition: 0.3s opacity;
  // transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  // line-height: ;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
@media screen and (min-width: 768px) {
  .customers-reviews {
    &__quote {
      min-height: 138px;
      padding: 29px 80px 28px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.86;
      letter-spacing: 0.04em;
      margin-bottom: 32px;
    }
    &__name {
      font-size: 16px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .customers-reviews {
    &__quote {
      margin-bottom: 35px;
      padding: 39px 109px;
      font-size: 16px;
    }
  }
}
