.footer-map-overlay {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include transition(opacity);
}

.footer-map {
  width: calc(100vw - 40px);
  height: auto;
  padding: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $main-white;
  border-radius: 10px;
  border: 2px solid $accent-yellow;
  transform: translate(-50%, -50%) scale(1);
  @include transition(transform);

  .footer-map-overlay.is-hidden & {
    transform: translate(-50%, -50%) scale(2);
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__close-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %flex-center;
    padding: 0;
    margin: 0;
    z-index: 10;
    background-color: transparent;
    border: none;
  }
  &__close-icon {
    width: 16px;
    height: 16px;
    @include transition(fill, transform);
    z-index: 15;

    .footer-franchisee__close-btn:hover &,
    .footer-franchisee__close-btn:focus & {
      fill: $accent-green;
      transform: scale(1.2);
    }
  }

  &__header {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
  }
  &__thumb {
    width: 100%;
    display: flex;
  }
  &__map {
    // min-width: 224px;
    width: 100%;
    min-height: 199px;
  }
  &__btn {
    margin-top: 24px;
    font-size: 12px;
    line-height: 1.25;
    align-self: center;
  }
}

@media screen and (min-width: 480px) {
  .footer-map {
    width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .footer-map {
    width: 568px;
    padding: 32px 60px;
    &__header {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 24px;
    }
    &__close-btn {
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
    }
    &__close-icon {
      width: 20px;
      height: 20px;
    }
    &__map {
      width: 100%;
      min-height: 260px;
    }
    &__btn {
      margin-top: 32px;
      font-size: 14px;
      line-height: 1.214;
    }
  }
}
