// WRAPPER

.gallery-reviews-wrapper {
  width: 100%;
  margin: 0 auto;
  //   padding-top: 118px;
  //   padding-bottom: 118px;
  background-color: transparent;
  background-image: url('../images/gallery-reviews/bg-gallery-reviews-768-1x-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url('../images/gallery-reviews/bg-gallery-reviews-768-2x-min.jpg');
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .gallery-reviews-wrapper {
    min-width: 768px;
    background-image: url('../images/gallery-reviews/bg-gallery-reviews-1200-1x-min.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url('../images/gallery-reviews/bg-gallery-reviews-1200-2x-min.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .gallery-reviews-wrapper {
    min-width: 1200px;
    background-image: url('../images/gallery-reviews/bg-gallery-reviews-1920-1x-min.jpg');
    // padding-top: 200px;
    // padding-bottom: 200px;
    max-width: 1920px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url('../images/gallery-reviews/bg-gallery-reviews-1920-2x-min.jpg');
  }
}

.emulation {
  background-color: $main-bg-green;
  padding-bottom: 120px;
}
// GALLERY

.gallery {
  // margin-top: -98px;
  &__container {
    padding: 0 93px;
  }
  &__slider {
    max-width: 1013px;
    // position: absolute;
    transform: translateY(-98px);
  }
  &__list {
    display: flex;
    margin-bottom: 0;
    min-width: 0;
  }
  &__item {
    min-width: 100%;
    min-height: 422px;
    border-radius: 24px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.gallery__item:first-child {
  background-image: url('../images/gallery-reviews/slide-icecream-1-1013-1x-min.jpg');
}
.gallery__item:nth-child(2) {
  background-image: url('../images/gallery-reviews/slide-icecream-2-636-1x-min.jpg');
}
.gallery__item:last-child {
  background-image: url('../images/gallery-reviews/slide-icecream-3-716-1x-min.jpg');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery__item:first-child {
    background-image: url('../images/gallery-reviews/slide-icecream-1-1013-2x-min.jpg');
  }
  .gallery__item:nth-child(2) {
    background-image: url('../images/gallery-reviews/slide-icecream-2-636-2x-min.jpg');
  }
  .gallery__item:last-child {
    background-image: url('../images/gallery-reviews/slide-icecream-3-716-2x-min.jpg');
  }
}
