.products {
  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
  }

  &__button-close {
    width: 16px;
    height: 16px;
    display: flex;
    position: absolute;
    @extend %flex-center;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transform: rotate(-90deg);
    @media screen and(min-width: 768px) {
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
    }

    &:hover,
    :focus {
      transform: scale(1.15);
      transform: rotate(1turn);
    }
  }

  &__button-icon {
    width: 16px;
    height: 16px;
    @include transition(fill, transform);

    .about-close-btn:hover &,
    .about-close-btn:focus & {
      fill: $accent-green;
      transform: scale(1.2);
    }
    @media screen and(min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }

  &__form {
    max-height: 100vh;
    width: calc(100% - 40px);
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-white;
    border: 2px solid $accent-yellow;
    border-radius: 10px;

    @media screen and (min-width: 480px) {
      width: 440px;
    }
    @media screen and (min-width: 768px) {
      width: 568px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px 15px 32px 15px;

    @media screen and (min-width: 768px) {
      padding: 40px 32px;
    }
  }
  &__form-title {
    font-family: Seymour One, sans-serif;
    font-size: 20px;
    line-height: calc(28 / 20);
    color: $main-black;
    text-align: center;
    // @include animation-fade-in;
  }
  &__form-img {
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -10px;
    // @include animation-ping-pong;
  }
  &__form-wrap-img {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 32px;

    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    animation-delay: 500ms;

    // @include animation-fade-in {
    //   animation-delay: 500ms;
    // }
  }

  &__form-mcrlmnt-list {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    animation-delay: 750ms;
  }
  // @include animation-fade-in {
  //   animation-delay: 750ms;
  // }

  &__form-mcrlmnt-item {
    border: 2px solid $bg-olive;
    width: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $main-bg-green;
    border-radius: 40px;

    .circle-1 {
      animation-delay: 2000ms;
    }
    .circle-2 {
      animation-delay: 2250ms;
    }
    .circle-3 {
      animation-delay: 2500ms;
    }
    .circle-4 {
      animation-delay: 2750ms;
    }

    // &:nth-child(1) .products__form-mcrlmnt-text.circle {

    //   // @include animation-rotate {
    //   //   animation-delay: 2000ms;
    //   // }
    // }
    // &:nth-child(2) .products__form-mcrlmnt-text.circle {

    //   // @include animation-rotate {
    //   //   animation-delay: 2250ms;
    //   // }
    // }
    // &:nth-child(3) .products__form-mcrlmnt-text.circle {
    //   // @include animation-rotate {
    //   //   animation-delay: 2500ms;
    //   // }
    // }
    // &:nth-child(4) .products__form-mcrlmnt-text.circle {
    //   // @include animation-rotate {
    //   //   animation-delay: 2750ms;
    //   // }
    // }
  }

  &__form-mcrlmnt-text {
    font-size: 10px;
    line-height: 28px;
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }

    &.circle {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: $main-bg-green;
      border: 2px solid $main-bg-green;
      box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;

      // @include animation-rotate;
    }
  }

  &__description-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
    animation-delay: 1s;
    // @include animation-fade-in {
    //   animation-delay: 1s;
    // }
    @media screen and (min-width: 768px) {
      margin-top: 39px;
    }
  }
  &__description-wrap {
    width: 100%;
  }
  &__description-list {
    margin-top: 24px;
    animation-delay: 1s;
    // @include animation-fade-in {
    //   animation-delay: 1s;
    // }
  }
  &__description-item {
    display: flex;
    justify-content: space-between;
  }
  &__description-text {
    font-size: 14px;
  }

  &__form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 368px;
    animation-delay: 1s;
    gap: 16px;
    margin-top: 32px;

    @media screen and (min-width: 768px) {
      margin-top: 48px;
    }

    // @include animation-fade-in {
    //   animation-delay: 1s;
    // }
  }
  &__input-list {
  }
  &__input-item {
    width: 100%;
  }
  &__input {
    font-size: 14px;
    line-height: 140%;
    color: $main-black;
    padding: 11px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid $main-bg-green;
    border-radius: 10px;
    width: 100%;
    height: 42px;
    outline: none;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    &.textarea {
      resize: none;
      height: 84px;
      margin-top: 16px;
      outline: none;
    }
  }
  &__input:focus,
  &__textarea:focus,
  &__input:hover,
  &__textarea:hover {
    border: 2px solid $accent-green;
  }
}

.products .btn--standart {
  width: 132px;
  height: 42px;
  border-radius: 10px;
  border: 0px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: $main-black;
  margin-top: 24px;

  &:hover,
  :focus {
    @include animation-shake;
  }

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    width: 121px;
  }
}
