@import '~node_modules/modern-normalize/modern-normalize.css';
.footer-map__close-btn, .footer-franchisee__close-btn, .about-close-btn, .products__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #131313;
  line-height: 1.76;
}

.cursor {
  cursor: url("../images/cursor.png"), auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

img,
.image {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
.list {
  list-style: none;
  padding-left: 0;
}

a,
.links {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.btn {
  font-family: "Montserrat";
  text-align: center;
  border-radius: 10px;
  padding: 12px 34px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
}

.btn--standart {
  background-color: #f8d24e;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}
.btn--standart:hover {
  background-color: #0a8817;
}
.btn--standart:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}

.btn--transparent {
  background-color: transparent;
  border: 2px solid #f8d24e;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, border-color;
}
.btn--transparent:hover {
  border: 2px solid #0a8817;
}
.btn--transparent:focus {
  border: 2px solid #0a8817;
  color: #fcfcfc;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

.section {
  padding-top: 60px;
}

.section__header {
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .section__header {
    font-size: 34px;
    line-height: 1.26;
  }
}
@media screen and (min-width: 1200px) {
  .section__header {
    font-size: 36px;
    line-height: 1.25;
  }
}

.animate__pulse {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

.animate__tada {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

.animation-ping-pong {
  -webkit-animation-name: ping-pong;
          animation-name: ping-pong;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 3250ms;
          animation-delay: 3250ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  transition-property: top;
}
@-webkit-keyframes ping-pong {
  0% {
    top: -10px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -10px;
  }
}
@keyframes ping-pong {
  0% {
    top: -10px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -10px;
  }
}

.animation-fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  transition-property: opacity;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  transition-property: transform;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0);
  }
  100% {
    transform: rotate(0deg);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0);
  }
  100% {
    transform: rotate(0deg);
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  }
}

.section__pre-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2333333333;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .section__pre-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .section__pre-title {
    font-size: 30px;
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-image: url("../images/products/bg-products-tab.jpg");
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/products/bg-products-tab@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 61px;
    padding-bottom: 82px;
    background-image: url("../images/products/bg-products-desk.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/products/bg-products-desk@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-top: 60px;
    padding-bottom: 66px;
    background-image: url("../images/products/bg-products-desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/products/bg-products-desk@2x.jpg");
  }
}
.products__wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__list {
  margin-top: 148px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    margin-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 32px;
    margin-top: 303px;
  }
}
.products__image {
  position: absolute;
  top: -211px;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media screen and (min-width: 1200px) {
  .products__image {
    top: -317px;
  }
}
.products__text {
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .products__text {
    margin-top: 65px;
    font-size: 16px;
  }
}
.products__title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 30px;
  }
}
.products__item {
  position: relative;
  padding: 123px 0 20px 0;
  margin-bottom: 164px;
  width: 100%;
  height: 420px;
  background-color: #aec6a5;
  border-radius: 24px;
}
@media screen and (min-width: 420px) {
  .products__item {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    margin-bottom: 0;
  }
}
.products__item.ice-coffee {
  background-color: #efd478;
}
.products__item.ice-coffee::before {
  background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.products__item.milkshakes {
  margin-bottom: 0;
  background-color: #d6936d;
}
.products__item.milkshakes::before {
  background-image: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.products__item::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-image: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    width: 300px;
    height: 300px;
    top: -300px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    max-width: 228px;
    height: 428px;
    padding: 107px 0 10px 0;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    max-width: 370px;
    height: 535px;
    padding: 166px 0 60px 0;
  }
}
.products__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}
@media screen and (min-width: 768px) {
  .products__meta {
    padding: 0 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__meta {
    padding: 0 64px;
  }
}
.products__btn-wrapper {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.products__btn {
  background-color: transparent;
  border: none;
}
.products__btn:hover .products__icon {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@-webkit-keyframes bounce {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.35);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes bounce {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.35);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.products__btn:focus .products__icon {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  stroke: #131313;
  stroke-width: 1px;
}
@keyframes bounce {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.35);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.products__icon {
  width: 40px;
  height: 15px;
  stroke: #131313;
}

.products__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.products__button-close {
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transform: rotate(-90deg);
}
@media screen and (min-width: 768px) {
  .products__button-close {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
}
.products__button-close:hover,
.products__button-close :focus {
  transform: scale(1.15);
  transform: rotate(1turn);
}
.products__button-icon {
  width: 16px;
  height: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, transform;
}
.about-close-btn:hover .products__button-icon, .about-close-btn:focus .products__button-icon {
  fill: #0a8817;
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .products__button-icon {
    width: 20px;
    height: 20px;
  }
}
.products__form {
  max-height: 100vh;
  width: calc(100% - 40px);
  overflow-y: scroll;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .products__form {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .products__form {
    width: 568px;
  }
}
.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px 15px 32px 15px;
}
@media screen and (min-width: 768px) {
  .products__container {
    padding: 40px 32px;
  }
}
.products__form-title {
  font-family: Seymour One, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #131313;
  text-align: center;
}
.products__form-img {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -10px;
}
.products__form-wrap-img {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 32px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.products__form-mcrlmnt-list {
  display: flex;
  gap: 10px;
  margin-top: 24px;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.products__form-mcrlmnt-item {
  border: 2px solid #aec6a5;
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #84a178;
  border-radius: 40px;
}
.products__form-mcrlmnt-item .circle-1 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.products__form-mcrlmnt-item .circle-2 {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.products__form-mcrlmnt-item .circle-3 {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
.products__form-mcrlmnt-item .circle-4 {
  -webkit-animation-delay: 2750ms;
          animation-delay: 2750ms;
}
.products__form-mcrlmnt-text {
  font-size: 10px;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .products__form-mcrlmnt-text {
    font-size: 12px;
  }
}
.products__form-mcrlmnt-text.circle {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #84a178;
  border: 2px solid #84a178;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__description-title {
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@media screen and (min-width: 768px) {
  .products__description-title {
    margin-top: 39px;
  }
}
.products__description-wrap {
  width: 100%;
}
.products__description-list {
  margin-top: 24px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.products__description-item {
  display: flex;
  justify-content: space-between;
}
.products__description-text {
  font-size: 14px;
}
.products__form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 368px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.products__input-list {
  gap: 16px;
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .products__input-list {
    margin-top: 48px;
  }
}
.products__input-item {
  width: 100%;
}
.products__input {
  font-size: 14px;
  line-height: 140%;
  color: #131313;
  padding: 11px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  width: 100%;
  height: 42px;
  outline: none;
}
.products__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.products__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.products__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.products__input.textarea {
  resize: none;
  height: 84px;
  margin-top: 16px;
  outline: none;
}
.products__input:focus, .products__textarea:focus, .products__input:hover, .products__textarea:hover {
  border: 2px solid #0a8817;
}

.products .btn--standart {
  width: 132px;
  height: 42px;
  border-radius: 10px;
  border: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
  margin-top: 24px;
}
.products .btn--standart:hover,
.products .btn--standart :focus {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@-webkit-keyframes shake {
  0% {
    transform: translateX(0px);
  }
  32% {
    transform: translateX(5px);
  }
  48% {
    transform: translateX(-5px);
  }
  64% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  32% {
    transform: translateX(5px);
  }
  48% {
    transform: translateX(-5px);
  }
  64% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media screen and (min-width: 768px) {
  .products .btn--standart {
    margin-top: 32px;
    width: 121px;
  }
}

.about {
  background-color: #84a178;
  color: #fcfcfc;
  padding-bottom: 42px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 53px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 89px;
  }
}
.about__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.about__pretitle {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .about__pretitle {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__pretitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}
.about__title {
  display: inline-block;
  max-width: 210px;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #fcfcfc;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__title {
    max-width: unset;
    font-size: 34px;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 82px;
  }
}
.about__img {
  border-radius: 50%;
  max-width: 279px;
  position: absolute;
  top: 21px;
}
@media screen and (min-width: 768px) {
  .about__img {
    max-width: 334px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    max-width: 490px;
    height: 490px;
    right: 5px;
  }
}
.about__icon {
  margin-left: 5px;
  fill: none;
  stroke: #131313;
  width: 12px;
  height: 12px;
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.about-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .about-wrap {
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-wrap {
    gap: 108px;
    align-items: center;
  }
}

.about-img-wrap {
  position: relative;
  width: 278px;
  height: 278px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .about-img-wrap {
    width: 334px;
    height: 330px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-img-wrap {
    width: 500px;
    height: 500px;
  }
}

.about-text-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  gap: 4px;
}
@media screen and (min-width: 480px) {
  .about-text-wrap {
    padding: 0;
    max-width: 334px;
  }
}
@media screen and (min-width: 768px) {
  .about-text-wrap {
    align-items: flex-start;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about-text-wrap {
    max-width: 463px;
  }
}

.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .about__text {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 14px;
  }
}
.about__text--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__text--hidden {
    display: block;
  }
}

.about-btn {
  border: none;
  margin-top: 16px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about-btn {
    margin-top: 40px;
  }
}

.about-text-wrap .about-btn:focus .about__icon {
  stroke: #fcfcfc;
}

.about-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.about-backdrop.is-hidden .about-modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
  border-radius: 50%;
}

.about-modal {
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px);
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 28px;
  gap: 20px;
}
@media screen and (min-width: 480px) {
  .about-modal {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .about-modal {
    padding: 32px 60px;
    width: 568px;
    gap: 32px;
  }
}

.about-close-btn {
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}
@media screen and (min-width: 768px) {
  .about-close-btn {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
}

.about-close-btn__icon {
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, transform;
}
.about-close-btn:hover .about-close-btn__icon, .about-close-btn:focus .about-close-btn__icon {
  fill: #0a8817;
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .about-close-btn__icon {
    width: 20px;
    height: 20px;
  }
}

.about-modal__title {
  color: #131313;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-modal__title {
    font-size: 20px;
    line-height: 1.4;
  }
}

.about__video {
  border-radius: 10px;
  width: 100%;
  height: 199px;
}
@media screen and (min-width: 768px) {
  .about__video {
    height: 205px;
  }
}

.about-modal__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .about-modal__text {
    font-size: 16px;
    line-height: 1.4;
  }
}

.advantages {
  background-color: #84a178;
  color: #fcfcfc;
  padding-top: 0;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 180px;
  }
}
.advantages__wrap {
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #131313;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__wrap {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__wrap {
    margin-bottom: 40px;
  }
}
.advantages__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 1.2291666667;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 58px;
    line-height: 1.224137931;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    max-width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    max-width: 368px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    gap: 0px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    justify-content: space-between;
  }
}

.gallery-reviews-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  background-image: url("../images/gallery-reviews/bg-gallery-reviews-768-1x-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/gallery-reviews/bg-gallery-reviews-768-2x-min.jpg");
    background-position: center;
  }
}
@media screen and (min-width: 768px) {
  .gallery-reviews-wrapper {
    min-width: 768px;
    background-image: url("../images/gallery-reviews/bg-gallery-reviews-1200-1x-min.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/gallery-reviews/bg-gallery-reviews-1200-2x-min.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .gallery-reviews-wrapper {
    min-width: 1200px;
    background-image: url("../images/gallery-reviews/bg-gallery-reviews-1920-1x-min.jpg");
    max-width: 1920px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: url("../images/gallery-reviews/bg-gallery-reviews-1920-2x-min.jpg");
  }
}
.emulation {
  background-color: #84a178;
  padding-bottom: 120px;
}

.gallery__container {
  padding: 0 20px;
}
.gallery__slider {
  width: 100%;
  transform: translateY(-24px);
}
.gallery__list {
  display: flex;
  margin-bottom: 0;
  min-width: 0;
}
.gallery__item {
  min-width: 100%;
  min-height: 130px;
  border-radius: 24px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__item:first-child {
  background-image: url("../images/gallery-reviews/slide-icecream-1-1013-1x-min.jpg");
}

.gallery__item:nth-child(2) {
  background-image: url("../images/gallery-reviews/slide-icecream-2-636-1x-min.jpg");
}

.gallery__item:last-child {
  background-image: url("../images/gallery-reviews/slide-icecream-3-716-1x-min.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery__item:first-child {
    background-image: url("../images/gallery-reviews/slide-icecream-1-1013-2x-min.jpg");
  }
  .gallery__item:nth-child(2) {
    background-image: url("../images/gallery-reviews/slide-icecream-2-636-2x-min.jpg");
  }
  .gallery__item:last-child {
    background-image: url("../images/gallery-reviews/slide-icecream-3-716-2x-min.jpg");
  }
}
@media screen and (min-width: 480px) {
  .gallery__slider {
    max-width: 440px;
    transform: translateY(-24px);
  }
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding: 0 32px;
  }
  .gallery__slider {
    max-width: 704px;
    transform: translateY(-164px);
  }
  .gallery__item {
    min-height: 327px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    padding: 0 93px;
  }
  .gallery__slider {
    max-width: 1013px;
    transform: translateY(-98px);
  }
  .gallery__item {
    min-width: 100%;
    min-height: 422px;
  }
}
.customers-reviews__container {
  width: 100%;
  padding: 56px 20px 394px;
}
.customers-reviews__slider {
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
}
.customers-reviews__list {
  padding-top: 119px;
  display: flex;
  margin: 0 auto;
  min-width: 0;
}
.customers-reviews__item {
  min-width: 100%;
  min-height: auto;
  position: relative;
  background-color: transparent;
}
.customers-reviews__item::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -100%);
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.customers-reviews__item:nth-child(1)::before {
  background-color: #84a178;
  background-image: url("../images/gallery-reviews/slide-photo-1-85-1x-min.png");
  background-position: center;
  background-size: contain;
}
.customers-reviews__item:nth-child(2)::before {
  background-color: #84a178;
  background-image: url("../images/gallery-reviews/slide-photo-2-85-1x-min.png");
  background-position: center;
  background-size: contain;
}
.customers-reviews__item:nth-child(3)::before {
  background-color: #84a178;
  background-image: url("../images/gallery-reviews/slide-photo-3-85-1x-min.png");
  background-position: center;
  background-size: contain;
}
.customers-reviews__item:nth-child(4)::before {
  background-color: #84a178;
  background-image: url("../images/gallery-reviews/slide-photo-4-85-1x-min.png");
  background-position: center;
  background-size: contain;
}
.customers-reviews__quote {
  width: 100%;
  min-height: auto;
  display: block;
  margin-bottom: 30px;
  padding: 34px 39px;
  background-color: #84a178;
  border-radius: 24px;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #fcfcfc;
}
.customers-reviews__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: #131313;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customers-reviews__item:nth-child(1)::before {
    background-image: url("../images/gallery-reviews/slide-photo-1-85-2x-min.png");
  }
  .customers-reviews__item:nth-child(2)::before {
    background-image: url("../images/gallery-reviews/slide-photo-2-85-2x-min.png");
  }
  .customers-reviews__item:nth-child(3)::before {
    background-image: url("../images/gallery-reviews/slide-photo-3-85-2x-min.png");
  }
  .customers-reviews__item:nth-child(4)::before {
    background-image: url("../images/gallery-reviews/slide-photo-4-85-2x-min.png");
  }
}
.swiper-button-prev,
.swiper-button-next,
.btn-prev-icon,
.btn-next-icon {
  display: none;
}

.swiper-pagination {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
  z-index: 10;
}

.swiper-pagination-bullet {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #d9d9d9;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background-color: #84a178;
}

@media screen and (min-width: 480px) {
  .customers-reviews__container {
    width: 480px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .customers-reviews__container {
    width: 768px;
    padding: 0 32px 383px;
    margin-top: -104px;
  }
  .customers-reviews__quote {
    min-height: 138px;
    padding: 29px 80px 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
  .customers-reviews__name {
    font-size: 16px;
  }
  .swiper-pagination {
    margin-top: 32px;
  }
  .swiper-button-prev {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 66px;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(93.32deg, rgba(132, 161, 120, 0.5) -10.68%, rgba(252, 252, 252, 0.2) 59.53%);
    transform: translateX(-50%);
  }
  .swiper-button-next {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 66px;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(93.32deg, rgba(132, 161, 120, 0.5) -10.68%, rgba(252, 252, 252, 0.2) 59.53%);
    transform: translateX(50%) rotate(180deg);
  }
  .btn-prev-icon,
.btn-next-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    width: 30px;
    z-index: 3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .swiper-button-prev:hover .btn-prev-icon,
.swiper-button-prev:focus .btn-prev-icon,
.swiper-button-next:hover .btn-next-icon,
.swiper-button-next:focus .btn-next-icon {
    transform: translate(25%, -50%) rotate(180deg) scale(1.5);
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .customers-reviews__container {
    margin-top: 0;
    width: 1200px;
    padding: 30px 116px 207px;
  }
  .customers-reviews__quote {
    margin-bottom: 35px;
    padding: 39px 109px;
    font-size: 16px;
  }
  .swiper-button-prev,
.swiper-button-next {
    width: 88px;
  }
  .btn-prev-icon,
.btn-next-icon {
    width: 40px;
  }
}
.contact {
  display: flex;
  background-color: #84a178;
}

.contact-list {
  display: flex;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  transform: translateY(-347px);
}
@media screen and (min-width: 768px) {
  .contact-list {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 64px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    transform: translateY(-303px);
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    transform: translateY(-96px);
  }
}

.contact-item {
  width: calc(100% - 40px);
  padding: 40px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .contact-item {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .contact-item {
    width: 224px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-item {
    width: 368px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.contact-cafe {
  display: inline-block;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: #f8d24e;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .contact-cafe {
    padding-right: 14px;
    padding-left: 14px;
  }
}

.contact-city {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contact-city {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-city {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.contact-adress {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #d6936d;
}
@media screen and (min-width: 768px) {
  .contact-adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-adress {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.mode-data {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .mode-data {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-mode-day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .contact-mode-day {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-mode-day {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.contact-mode-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #ababab;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contact-mode-time {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-mode-time {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.contact-links {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .contact-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-347px);
}
@media screen and (min-width: 768px) {
  .contact-button {
    flex-direction: row;
    justify-content: center;
    transform: translateY(-285px);
  }
}
@media screen and (min-width: 1200px) {
  .contact-button {
    transform: translateY(-78px);
  }
}

/*----------------footer-------------*/
.footer {
  display: flex;
  flex-direction: column;
  background: #84a178;
  padding-top: 40px;
  padding-bottom: 62px;
  margin-top: -300px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: -285px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-top: -1px;
    padding-top: 43px;
    padding-bottom: 11px;
  }
}
.footer__btn {
  width: 196px;
  height: 46px;
}
.footer__btn:first-child {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__btn:first-child {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.footer__btn-icon {
  margin-left: 5px;
  fill: none;
  stroke: #131313;
  width: 12px;
  height: 12px;
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-data-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .footer-data-wrapper {
    padding-bottom: 54px;
  }
}

.footer-title {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .footer-title {
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    width: 504px;
  }
}

.footer-paragraf {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer-paragraf {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-paragraf {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}

.text-passion {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .text-passion {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
    margin-top: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .text-passion {
    font-size: 58px;
    line-height: 1.224;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 6px;
  }
}

.soc__list {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-top: 42px;
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .soc__list {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.soc__item {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .soc__item {
    width: 24px;
    height: 24px;
  }
}

.soc__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
}

.soc__icon {
  fill: #84a178;
}

.soc__icon:hover,
.soc__icon:focus {
  fill: #fcfcfc;
}

.footer-tel {
  display: flex;
  justify-content: center;
  text-align: right;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-tel {
    justify-content: flex-end;
    padding-bottom: 0;
  }
}

.footer-tel-black {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: right;
  color: #131313;
  margin-right: 2px;
}
@media screen and (min-width: 768px) {
  .footer-tel-black {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tel-black {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.footer-tel-white {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer-tel-white {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.83;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tel-white {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.footer-ltd {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-ltd {
    padding-top: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-ltd {
    padding-top: 12px;
  }
}

.footer-company {
  display: flex;
  color: #7a7a7a;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.footer-franchisee-overlay {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-franchisee {
  width: calc(100vw - 40px);
  height: auto;
  padding: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-franchisee-overlay.is-hidden .footer-franchisee {
  transform: translate(-50%, -50%) scale(2);
}
.footer-franchisee__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.footer-franchisee__close-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.footer-franchisee__close-icon {
  width: 16px;
  height: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, transform;
  z-index: 15;
}
.footer-franchisee__close-btn:hover .footer-franchisee__close-icon, .footer-franchisee__close-btn:focus .footer-franchisee__close-icon {
  fill: #0a8817;
  transform: scale(1.2);
}
.footer-franchisee__header {
  display: inline-block;
  max-width: 221px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}
.footer-franchisee__text {
  font-size: 14px;
  line-height: 1.4;
  align-self: center;
  margin-bottom: 24px;
}

.franchisee-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.franchisee-form__wrapper {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
  display: flex;
}
.franchisee-form__wrapper:last-of-type {
  margin-bottom: 0px;
}
.franchisee-form__input {
  width: 100%;
  height: 32px;
  padding: 8px 12px 9px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.franchisee-form__textarea {
  width: 100%;
  height: 64px;
  padding: 8px 12px 9px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  overflow: scroll;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.franchisee-form__label {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 12px;
  line-height: 1.4;
}
.franchisee-form__input:focus + .franchisee-form__label, .franchisee-form__textarea:focus + .franchisee-form__label {
  display: none;
}
.franchisee-form__input:focus, .franchisee-form__textarea:focus, .franchisee-form__input:hover, .franchisee-form__textarea:hover {
  border: 2px solid #0a8817;
}
.franchisee-form__btn {
  margin-top: 24px;
  font-size: 12px;
  line-height: 1.25;
  align-self: center;
}

@media screen and (min-width: 480px) {
  .footer-franchisee {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .footer-franchisee {
    width: 568px;
    padding: 32px 60px;
  }
  .footer-franchisee__header {
    max-width: 322px;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .footer-franchisee__text {
    display: inline-block;
    width: 448px;
    margin-bottom: 32px;
    font-size: 16px;
  }
  .footer-franchisee__close-btn {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
  .footer-franchisee__close-icon {
    width: 20px;
    height: 20px;
  }
  .franchisee-form {
    width: 368px;
  }
  .franchisee-form__wrapper {
    margin-bottom: 16px;
  }
  .franchisee-form__wrapper:last-of-type {
    margin-bottom: 0px;
  }
  .franchisee-form__label {
    font-size: 14px;
  }
  .franchisee-form__btn {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.214;
  }
  .franchisee-form__textarea {
    height: 84px;
  }
}
.footer-map-overlay {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-map {
  width: calc(100vw - 40px);
  height: auto;
  padding: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map-overlay.is-hidden .footer-map {
  transform: translate(-50%, -50%) scale(2);
}
.footer-map__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.footer-map__close-btn {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.footer-map__close-icon {
  width: 16px;
  height: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, transform;
  z-index: 15;
}
.footer-franchisee__close-btn:hover .footer-map__close-icon, .footer-franchisee__close-btn:focus .footer-map__close-icon {
  fill: #0a8817;
  transform: scale(1.2);
}
.footer-map__header {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}
.footer-map__thumb {
  width: 100%;
  display: flex;
}
.footer-map__map {
  width: 100%;
  min-height: 199px;
}
.footer-map__btn {
  margin-top: 24px;
  font-size: 12px;
  line-height: 1.25;
  align-self: center;
}

@media screen and (min-width: 480px) {
  .footer-map {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .footer-map {
    width: 568px;
    padding: 32px 60px;
  }
  .footer-map__header {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .footer-map__close-btn {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }
  .footer-map__close-icon {
    width: 20px;
    height: 20px;
  }
  .footer-map__map {
    width: 100%;
    min-height: 260px;
  }
  .footer-map__btn {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.214;
  }
}/*# sourceMappingURL=index.css.map */