<section class="advantages section" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages__item">
        <div class="advantages__wrap">
          <svg
            class="advantages__icon animate__animated animate__tada"
            width="36"
            height="36"
          >
            <use href="./images/icons.svg#adv-cow"></use>
          </svg>
        </div>
        <p class="advantages__title">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrap">
          <svg
            class="advantages__icon animate__animated animate__tada"
            width="36"
            height="36"
          >
            <use href="./images/icons.svg#adv-weight"></use>
          </svg>
        </div>
        <p class="advantages__title">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrap">
          <svg
            class="advantages__icon animate__animated animate__tada"
            width="36"
            height="36"
          >
            <use href="./images/icons.svg#adv-ice"></use>
          </svg>
        </div>
        <p class="advantages__title">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
