<section class="contact" id="contact">
  <h2 class="visually-hidden">ICE CREAM MADE WITH PASSION</h2>
  <div class="container">
    <ul class="contact-list list">
      <li class="contact-item">
        <p><span class="contact-cafe">CAFE</span></p>
        <p class="contact-city">Chicago</p>
        <a
          href="https://www.google.com/maps/place/10339+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7035898,-87.7794455,18z/data=!4m13!1m7!3m6!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!2s10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90!3b1!8m2!3d41.7034016!4d-87.7797405!3m4!1s0x880e3981287cfe0f:0x9366cccfa2f091a2!8m2!3d41.703831!4d-87.7789082"
          class="contact-adress"
          target="_blank"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </a>
        <div class="mode-data">
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <a href="tel:+610383766284" class="contact-links link"
            >+61(0) 383 766 284</a
          ><br />
          <a href="mailto:noreply@envato.com" class="contact-links link"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contact-item">
        <p><span class="contact-cafe">FOODTRUCK</span></p>
        <p class="contact-city">Los Angeles</p>
        <a
          class="contact-adress"
          href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835263,-118.4103286,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
          target="_blank"
        >
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </a>
        <div class="mode-data">
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
        </div>

        <div>
          <a href="tel:+610383766284" class="contact-link">+61(0) 383 766 284</a
          ><br />
          <a href="mailto:noreply@envato.com" class="contact-link"></a
          >noreply@envato.com
        </div>
      </li>
      <li class="contact-item">
        <p><span class="contact-cafe">CAFE</span></p>
        <p class="contact-city">New York</p>
        <a
          href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0?sa=X&ved=2ahUKEwiQwPOWgbP6AhUOgosKHb-XBXUQ8gF6BAgHEAE"
          class="contact-adress"
          target="_blank"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="mode-data">
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com" class="link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contact-button">
      <button
        type="button"
        class="footer__btn footer-map-open-btn btn btn--standart"
      >
        Our Locations
        <svg class="footer__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#header-modal-open-btn"></use>
        </svg>
      </button>
      <button
        type="button"
        class="footer__btn footer-franchisee-open-btn btn btn--transparent"
      >
        Franchise
        <svg class="footer__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#header-modal-open-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-data-wrapper">
      <div class="footer-title">
        <p class="footer-paragraf">
          homemade ice cream made <br />
          <span class="text-passion">with passion</span>
        </p>
      </div>

      <div class="footer-soc">
        <ul class="soc__list list">
          <li class="soc__item">
            <a
              href="https://en.wikipedia.org/wiki/GitHub"
              target="_blank"
              class="soc__link"
            >
              <svg class="soc__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="soc__item">
            <a
              href="https://web.telegram.org/k/"
              target="_blank"
              class="soc__link"
            >
              <svg class="soc__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="soc__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="soc__link"
            >
              <svg class="soc__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer-tel">
          <span class="footer-tel-black">Feel free to contact</span>
          <a href="tel:+610383766284" class="footer-tel-white links"
            >+61(0) 383 766 284</a
          >
        </div>
      </div>
    </div>

    <div class="footer-ltd">
      <p class="footer-company">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
