<section class="contact" id="contact">
  <h2 class="visually-hidden">ICE CREAM MADE WITH PASSION</h2>
  <div class="container">
    <ul class="contact-list list">
      <li class="contact-item">
        <p><span class="contact-cafe">CAFE</span></p>
        <p class="contact-city">Chicago</p>
        <p class="contact-adress">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <div class="mode-data">
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <a href="tel:+610383766284" class="contact-links link"
            >+61(0) 383 766 284</a
          ><br />
          <a href="mailto:noreply@envato.com" class="contact-links link"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contact-item">
        <p><span class="contact-cafe">FOODTRUCK</span></p>
        <p class="contact-city">Los Angeles</p>
        <p class="contact-adress">
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </p>
        <div class="mode-data">
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
        </div>

        <div>
          <a href="tel:+610383766284" class="contact-link">+61(0) 383 766 284</a
          ><br />
          <a href="mailto:noreply@envato.com" class="contact-link"></a
          >noreply@envato.com
        </div>
      </li>
      <li class="contact-item">
        <p><span class="contact-cafe">CAFE</span></p>
        <p class="contact-city">New York</p>
        <p class="contact-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
        <div class="mode-data">
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com" class="link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contact-button">
      <button
        type="button"
        class="footer__btn footer-map-open-btn btn btn--standart"
      >
        Our Locations
        <svg class="footer__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#header-modal-open-btn"></use>
        </svg>
      </button>
      <button
        type="button"
        class="footer__btn footer-franchisee-open-btn btn btn--transparent"
      >
        Franchise
        <svg class="footer__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#header-modal-open-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-data-wrapper">
      <div class="footer-title">
        <p class="footer-paragraf">
          homemade ice cream made <br />
          <span class="text-passion">with passion</span>
        </p>
      </div>

      <div class="footer-soc">
        <ul class="soc__list list">
          <li class="soc__item">
            <a
              href="https://en.wikipedia.org/wiki/GitHub"
              target="_blank"
              class="soc__link"
            >
              <svg class="soc__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="soc__item">
            <a
              href="https://web.telegram.org/k/"
              target="_blank"
              class="soc__link"
            >
              <svg class="soc__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="soc__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="soc__link"
            >
              <svg class="soc__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer-tel">
          <span class="footer-tel-black">Feel free to contact</span>
          <a href="tel:+610383766284" class="footer-tel-white links"
            >+61(0) 383 766 284</a
          >
        </div>
      </div>
    </div>

    <div class="footer-ltd">
      <p class="footer-company">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
