<!-- <div class="red"></div> -->
<section class="contact">
  <div class="container">
      <ul class="contact-list list">
        <li class="contact-item">
          <p>CAFE</p>
          <p>Chicago</p>
          <p class="contact-adress"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          <div class="contact-mode">
            <p class="contact-mode-day"></p>Monday - Friday</p>
            <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
            <p class="contact-mode-day">Saturday - Sunday</p>
            <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
          </div>
          
          <p><a href="tel:+610383766284" class="links">+61(0) 383 766 284</a><br>
            <a href="mailto:noreply@envato.com" class="links">noreply@envato.com</a></p>
        </li>
        <li class="contact-item">
          <p>FOOD TRUCK</p>
          <p>Los Angeles</p>
          <p class="contact-adress">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
          <p><a href="tel:+610383766284" class="links">+61(0) 383 766 284</a><br>
            <a href="mailto:noreply@envato.com" class="links" >noreply@envato.com</p>
        </li>
        <li class="contact-item">
          <p>CAFE</p>
          <p>New York</p>
          <p class="contact-adress">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          <p class="contact-mode-day">Monday - Friday</p>
          <p class="contact-mode-time">06:00 AM - 10:00 PM</p>
          <p class="contact-mode-day">Saturday - Sunday</p>
          <p class="contact-mode-time">08:00 AM - 16:00 PM</p>
          <p><a href="tel:+610383766284" class="links">+61(0) 383 766 284</a><br>
            <a href="mailto:noreply@envato.com" class="links">noreply@envato.com</p></li>
      </ul>
      <div class="contact-button">
    <button type="button" class="btn btn--standart" >
      Our Locations
    </button>
    <button type="button" class="btn btn--transparent" >
      Franchise
    </button>
  <div>
  </div>

</section>

<section class="footer">
  <div class="container">
    <p class="footer-paragraf">homemade ice cream made </p>
    <p class="footer-title">with passion</p>
  </div>
  <div>
  <ul class="soc-list list">
    <li class="soc-item">
      <a href="#" class="soc-link">
        <svg class="soc-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-github"></use>
        </svg>
      </a>
    </li>
    <li class="soc-item">
      <a href="#" class="soc-link">
        <svg class="soc-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="soc-item">
      <a href="#" class="soc-link">
        <svg class="soc-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    </ul>
  </div>
     
  <div >
    <p class="footer-tel"><span class="footer-tel-text" >Feel free to contact</span>
      <a href="tel:+610383766284" class="footer-tel-tel links">+61(0) 383 766 284</a></p>
  </div>
  <p class="footer-ltd">&#169; 2022 - IceCream. All Rights Reserved. </p>
  </div>
</section>


