<section class="customers-reviews" id="customers-reviews">
  <div class="customers-reviews__container container">
    <h2 class="visually-hidden">customers reviews</h2>
    <div class="customers-reviews__slider swiper reviewsSwiper">
      <ul class="customers-reviews__list swiper-wrapper">
        <!-- Slide1 -->
        <li class="customers-reviews__item swiper-slide">
          <p class="customers-reviews__quote">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="customers-reviews__name">Emily, Los Angeles</p>
        </li>
        <!-- Slide2 -->
        <li class="customers-reviews__item swiper-slide">
          <p class="customers-reviews__quote">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p class="customers-reviews__name">Sam, Los Angeles</p>
        </li>
        <!-- Slide3 -->
        <li class="customers-reviews__item swiper-slide">
          <p class="customers-reviews__quote">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="customers-reviews__name">Diana, Chicago</p>
        </li>
        <!-- Slide4 -->
        <li class="customers-reviews__item swiper-slide">
          <p class="customers-reviews__quote">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="customers-reviews__name">Bryan, New-York</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <button class="swiper-button-prev" aria-label="previous slide">
        <svg class="btn-prev-icon">
          <use href="./images/icons.svg#header-arrow"></use>
        </svg>
      </button>
      <button class="swiper-button-next" aria-label="next slide">
        <svg class="btn-next-icon">
          <use href="./images/icons.svg#header-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
