<!-- Footer location modal  -->
<div class="footer-map-overlay is-hidden" data-map-modal>
  <div class="footer-map">
    <button
      data-map-close
      class="footer-map__close-btn"
      aria-label="close modal window"
    >
      <svg class="footer-map__close-icon">
        <use href="./images/icons.svg#header-modal-close-btn"></use>
      </svg>
    </button>
    <div class="footer-map__wrapper">
      <p class="footer-map__header">Our Locations</p>
      <div class="footer-map__thumb">
        <iframe
          class="footer-map__map"
          src="https://www.google.com/maps/d/embed?mid=1hcALpYcoJ1Y4DRDfKzGGXNsP85RSsD8&ehbc=2E312F"
        ></iframe>
      </div>
      <a
        href="https://www.google.com/maps/d/edit?mid=1hcALpYcoJ1Y4DRDfKzGGXNsP85RSsD8&usp=sharing"
        target="_blank"
        nofollow
        noreferrer
        noopener
        class="btn btn--standart footer-map__btn"
        >Open map</a
      >
    </div>
  </div>
</div>
