<section class="section emulation"></section>
<section class="gallery">
  <div class="container gallery__container">
    <h2 class="gallety__title visually-hidden">gallery</h2>
    <div class="gallery__slider swiper gallerySwiper">
      <ul class="gallery__list swiper-wrapper">
        <li class="gallery__item swiper-slide">
          <!-- <img
            srcset="
              ./images/gallery-reviews/slide-icecream-1-1013-1x-min.jpg 1013w,
              ./images/gallery-reviews/slide-icecream-1-1013-1x-min.jpg 2026w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
            src="./images/gallery-reviews/slide-icecream-1-1013-1x-min.jpg"
            alt="Icecream 1"
            class="image gallery__image"
          /> -->
        </li>
        <li class="gallery__item swiper-slide">
          <!-- <img
            srcset="
              ./images/gallery-reviews/slide-icecream-2-636-1x-min.jpg  636w,
              ./images/gallery-reviews/slide-icecream-2-636-2x-min.jpg 1272w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
            src="./images/gallery-reviews/slide-icecream-2-636-1x-min.jpg"
            alt="Icecream 2"
            class="image gallery__image"
          /> -->
        </li>
        <li class="gallery__item swiper-slide">
          <!-- <img
            srcset="
              ./images/gallery-reviews/slide-icecream-3-716-1x-min.jpg  716w,
              ./images/gallery-reviews/slide-icecream-3-716-2x-min.jpg 1432w
            "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
            src="./images/gallery-reviews/slide-icecream-3-716-1x-min.jpg"
            alt="Icecream 1"
            class="image gallery__image"
          /> -->
        </li>
      </ul>
    </div>
  </div>
</section>
