<section class="section">
  <div class="container">
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../src/images/ice-desk.png    1x,
              ../src/images/ice-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../src/images/ice-mob.png    1x,
              ../src/images/ice-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/ice-mob.png    1x,
              ../src/images/ice-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ../src/images/ice-mob.png    1x,
              ../src/images/ice-mob@2x.png 2x
            "
            src="../src/images/ice-mob.png"
            alt="pic"
          />
        </picture>

        <h3 class="products__title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a class="products__link" href="#">
          <svg class="products__icon">
            <use href="../src/images/symbol-min.svg#arrow"></use>
          </svg>
        </a>
      </li>

      <li class="products__item ice-coffee">
        <picture>
          <source
            srcset="
              ../src/images/coffee-desk.png    1x,
              ../src/images/coffee-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../src/images/coffee-mob.png    1x,
              ../src/images/coffee-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/coffee-mob.png    1x,
              ../src/images/coffee-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ../src/images/coffee-mob.png    1x,
              ../src/images/coffee-mob@2x.png 2x
            "
            src="../src/images/coffee-mob@2x.png"
            alt="pic"
          />
        </picture>
        <h3 class="products__title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a class="products__link" href="#">
          <svg class="products__icon">
            <use href="../src/images/symbol-min.svg#arrow"></use>
          </svg>
        </a>
      </li>

      <li class="products__item milkshakes">
        <picture>
          <source
            srcset="
              ../src/images/milk-desk.png    1x,
              ../src/images/milk-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../src/images/milk-mob.png    1x,
              ../src/images/milk-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/milk-mob.png    1x,
              ../src/images/milk-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ../src/images/milk-mob.png    1x,
              ../src/images/milk-mob@2x.png 2x
            "
            src="../src/images/milk-mob.png"
            alt="pic"
          />
        </picture>
        <h3 class="products__title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a class="products__link" href="#">
          <svg class="products__icon">
            <use href="../src/images/symbol-min.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
