<section class="section products" id="products">
  <div class="container products__wrapper">
    <p class="section__pre-title">100% natural</p>
    <h2 class="section__header">products</h2>

    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/products/ice-desk.png    1x,
              ./images/products/ice-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/ice-mob.png    1x,
              ./images/products/ice-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/ice-mob.png    1x,
              ./images/products/ice-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ./images/products/ice-mob.png    1x,
              ./images/products/ice-mob@2x.png 2x
            "
            src="./images/products/ice-mob.png"
            alt="pic"
          />
        </picture>
        <div class="products__meta">
          <h3 class="products__title">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <div class="products__btn-wrapper">
            <button class="products__btn products-btn-1" type="button">
              <svg class="products__icon">
                <use href="./images/icons.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products__item ice-coffee">
        <picture>
          <source
            srcset="
              ./images/products/coffee-desk.png    1x,
              ./images/products/coffee-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/coffee-mob.png    1x,
              ./images/products/coffee-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/coffee-mob.png    1x,
              ./images/products/coffee-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ./images/products/coffee-mob.png    1x,
              ./images/products/coffee-mob@2x.png 2x
            "
            src="./images/products/coffee-mob@2x.png"
            alt="pic"
          />
        </picture>
        <div class="products__meta">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <div class="products__btn-wrapper">
            <button class="products__btn products-btn-2" type="button">
              <svg class="products__icon">
                <use href="./images/icons.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products__item milkshakes">
        <picture>
          <source
            srcset="
              ./images/products/milk-desk.png    1x,
              ./images/products/milk-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/milk-mob.png    1x,
              ./images/products/milk-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/milk-mob.png    1x,
              ./images/products/milk-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ./images/products/milk-mob.png    1x,
              ./images/products/milk-mob@2x.png 2x
            "
            src="./images/products/milk-mob.png"
            alt="pic"
          />
        </picture>
        <div class="products__meta">
          <h3 class="products__title">milkshakes</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <div class="products__btn-wrapper">
            <button class="products__btn products-btn-3" type="button">
              <svg class="products__icon">
                <use href="./images/icons.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- MODAL 1 -->
<div class="products__backdrop products-backdrop-1 is-hidden">
  <div class="products__form products-modal-1">
    <button class="products__button-close products-close-btn-1" type="button">
      <svg class="products__button-icon">
        <use href="./images/icons.svg#btn-close"></use>
      </svg>
    </button>
    <div class="products__container">
      <h3 class="products__form-title products__form-title-1">
        Chololate <br />
        icecream
      </h3>
      <div class="products__form-wrap-img products__form-wrap-img-1">
        <img
          class="products__form-img products__form-img-1"
          srcset="
            ./images/products/ice1-form-mob.jpg    1x,
            ./images/products/ice1-form-mob@2x.jpg 2x
          "
          src="./images/products/ice1-form-mob.jpg"
          alt="choco icecream"
        />
      </div>
      <ul class="products__form-mcrlmnt-list products__form-mcrlmnt-list-1">
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-1">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1 circle circle-1 circle1_1"
          >
            320
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1">
            kcal
          </p>
        </li>
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-1">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1 circle circle-2 circle1_2"
          >
            4g
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1">
            Protein
          </p>
        </li>
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-1">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1 circle circle-3 circle1_3"
          >
            8,2g
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1">
            Fats
          </p>
        </li>
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-1">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1 circle circle-4 circle1_4"
          >
            40,4g
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-1">
            Carbs
          </p>
        </li>
      </ul>
      <p class="products__description-title products__description-title-1">
        Ingredients
      </p>
      <div class="products__description-wrap">
        <ul class="products__description-list products__description-list-1">
          <li class="products__description-item">
            <p class="products__description-text">Milk</p>
            <p class="products__description-text">100ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Belgian chocolate</p>
            <p class="products__description-text">20g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Cream</p>
            <p class="products__description-text">150 ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Cocoa powder</p>
            <p class="products__description-text">30g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Sugar</p>
            <p class="products__description-text">40g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Vanilla sugar</p>
            <p class="products__description-text">10g</p>
          </li>
        </ul>
      </div>

      <form
        class="products__form-field products__form-field-1 products-form-1"
        action="javascript:void(0);"
      >
        <input
          class="products__input"
          type="text"
          name="name"
          placeholder="Name"
          minlength="2"
          required
        />
        <input
          class="products__input"
          type="tel"
          name="tel"
          placeholder="Phone"
          required
        />

        <textarea
          class="products__input textarea"
          placeholder="Comment"
        ></textarea>
        <button class="btn btn--standart" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- MODAL 2 -->

<div class="products__backdrop products-backdrop-2 is-hidden">
  <div class="products__form products-modal-2">
    <button class="products__button-close products-close-btn-2" type="button">
      <svg class="products__button-icon">
        <use href="./images/icons.svg#btn-close"></use>
      </svg>
    </button>
    <div class="products__container">
      <h3 class="products__form-title products__form-title-2">
        Ice <br />
        coffee
      </h3>
      <div class="products__form-wrap-img products__form-wrap-img-2">
        <img
          class="products__form-img products__form-img-2"
          srcset="
            ./images/products/coffee-mob.png    1x,
            ./images/products/coffee-mob@2x.png 2x
          "
          src="./images/products/coffee-mob.png"
          alt="ice coffee"
        />
      </div>
      <ul class="products__form-mcrlmnt-list products__form-mcrlmnt-list-2">
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-2">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2 circle circle-1 circle2_1"
          >
            23
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2">
            kcal
          </p>
        </li>
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-2">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2 circle circle-2 circle2_2"
          >
            2g
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2">
            Protein
          </p>
        </li>
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-2">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2 circle circle-3 circle2_3"
          >
            1g
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2">
            Fats
          </p>
        </li>
        <li class="products__form-mcrlmnt-item products__form-mcrlmnt-item-2">
          <p
            class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2 circle circle-4 circle2_4"
          >
            3g
          </p>
          <p class="products__form-mcrlmnt-text products__form-mcrlmnt-text-2">
            Carbs
          </p>
        </li>
      </ul>
      <p class="products__description-title products__description-title-2">
        Ingredients
      </p>
      <div class="products__description-wrap">
        <ul class="products__description-list products__description-list-2">
          <li class="products__description-item">
            <p class="products__description-text">Milk</p>
            <p class="products__description-text">50ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Strong black coffee</p>
            <p class="products__description-text">200ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Ice</p>
            <p class="products__description-text">5-6 cubes</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Marple syrup</p>
            <p class="products__description-text">optional</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Sugar</p>
            <p class="products__description-text">optional</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Vanilla sugar</p>
            <p class="products__description-text">optional</p>
          </li>
        </ul>
      </div>

      <form
        class="products__form-field products-form-2 products__form-field=2"
        action="javascript:void(0);"
      >
        <input
          class="products__input"
          type="text"
          name="name"
          placeholder="Name"
          minlength="2"
          required
        />
        <input
          class="products__input"
          type="tel"
          name="tel"
          placeholder="Phone"
          required
        />

        <textarea
          class="products__input textarea"
          placeholder="Comment"
        ></textarea>
        <button class="btn btn--standart" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- MODAL 3 -->

<div class="products__backdrop products-backdrop-3 is-hidden">
  <div class="products__form products-modal-3">
    <button class="products__button-close products-close-btn-3" type="button">
      <svg class="products__button-icon">
        <use href="./images/icons.svg#btn-close"></use>
      </svg>
    </button>
    <div class="products__container">
      <h3 class="products__form-title">
        Chololate <br />
        icecream
      </h3>
      <div class="products__form-wrap-img">
        <img
          class="products__form-img"
          srcset="
            ./images/products/ice1-form-mob.jpg    1x,
            ./images/products/ice1-form-mob@2x.jpg 2x
          "
          src="./images/products/ice1-form-mob.jpg"
          alt="pic"
        />
      </div>
      <ul class="products__form-mcrlmnt-list">
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle circle-1">320</p>
          <p class="products__form-mcrlmnt-text">kcal</p>
        </li>
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle circle-2">4g</p>
          <p class="products__form-mcrlmnt-text">Prote...</p>
        </li>
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle circle-3">8,2g</p>
          <p class="products__form-mcrlmnt-text">Fats</p>
        </li>
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle circle-4">40,4g</p>
          <p class="products__form-mcrlmnt-text">Carbs</p>
        </li>
      </ul>
      <p class="products__description-title">Ingredients</p>
      <div class="products__description-wrap">
        <ul class="products__description-list">
          <li class="products__description-item">
            <p class="products__description-text">Milk</p>
            <p class="products__description-text">100ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Belgian chocolate</p>
            <p class="products__description-text">20g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Cream</p>
            <p class="products__description-text">150 ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Cocoa powder</p>
            <p class="products__description-text">30g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Sugar</p>
            <p class="products__description-text">40g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Vanilla sugar</p>
            <p class="products__description-text">10g</p>
          </li>
        </ul>
      </div>

      <form
        class="products__form-field products-form-3"
        action="javascript:void(0);"
      >
        <input
          class="products__input"
          type="text"
          name="name"
          placeholder="Name"
          minlength="2"
          required
        />
        <input
          class="products__input"
          type="tel"
          name="tel"
          placeholder="Phone"
          required
        />

        <textarea
          class="products__input textarea"
          placeholder="Comment"
        ></textarea>
        <button class="btn btn--standart" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
