<section class="section products">
  <div class="container">
    <p class="section__pre-title">100% natural</p>
    <h2 class="section__header">products</h2>

    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            srcset="
              ../src/images/products/ice-desk.png    1x,
              ../src/images/products/ice-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../src/images/products/ice-mob.png    1x,
              ../src/images/products/ice-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/products/ice-mob.png    1x,
              ../src/images/products/ice-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ../src/images/products/ice-mob.png    1x,
              ../src/images/products/ice-mob@2x.png 2x
            "
            src="../src/images/products/ice-mob.png"
            alt="pic"
          />
        </picture>
        <div class="products__meta">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <a class="products__link" href="#">
            <svg class="products__icon">
              <use href="../src/images/symbol-min.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item ice-coffee">
        <picture>
          <source
            srcset="
              ../src/images/products/coffee-desk.png    1x,
              ../src/images/products/coffee-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../src/images/products/coffee-mob.png    1x,
              ../src/images/products/coffee-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/products/coffee-mob.png    1x,
              ../src/images/products/coffee-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ../src/images/products/coffee-mob.png    1x,
              ../src/images/products/coffee-mob@2x.png 2x
            "
            src="../src/images/products/coffee-mob@2x.png"
            alt="pic"
          />
        </picture>
        <div class="products__meta">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <a class="products__link" href="#">
            <svg class="products__icon">
              <use href="../src/images/symbol-min.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="products__item milkshakes">
        <picture>
          <source
            srcset="
              ../src/images/products/milk-desk.png    1x,
              ../src/images/products/milk-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ../src/images/products/milk-mob.png    1x,
              ../src/images/products/milk-mob@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/products/milk-mob.png    1x,
              ../src/images/products/milk-mob@2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img
            class="products__image"
            srcset="
              ../src/images/products/milk-mob.png    1x,
              ../src/images/products/milk-mob@2x.png 2x
            "
            src="../src/images/products/milk-mob.png"
            alt="pic"
          />
        </picture>
        <div class="products__meta">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <a class="products__link" href="#">
            <svg class="products__icon">
              <use href="../src/images/symbol-min.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="products__form">
    <div class="container">
      <h3 class="products__form-title">
        Chololate <br />
        icecream
      </h3>
      <div class="products__form-wrap-img">
        <img
          class="products__form-img"
          src="./images/products/ice1-form-mob.png"
          alt="pic"
        />
      </div>
      <ul class="products__form-mcrlmnt-list">
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle">320</p>
          <p class="products__form-mcrlmnt-text">kcal</p>
        </li>
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle">4g</p>
          <p class="products__form-mcrlmnt-text">Prote...</p>
        </li>
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle">8,2g</p>
          <p class="products__form-mcrlmnt-text">Fats</p>
        </li>
        <li class="products__form-mcrlmnt-item">
          <p class="products__form-mcrlmnt-text circle">40,4g</p>
          <p class="products__form-mcrlmnt-text">Carbs</p>
        </li>
      </ul>
      <p class="products__description-title">Ingredients</p>
      <div class="products__description-wrap">
        <ul class="products__description-list">
          <li class="products__description-item">
            <p class="products__description-text">Milk</p>
            <p class="products__description-text">100ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Belgian chocolate</p>
            <p class="products__description-text">20g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Cream</p>
            <p class="products__description-text">150 ml</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Cocoa powder</p>
            <p class="products__description-text">30g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Sugar</p>
            <p class="products__description-text">40g</p>
          </li>
          <li class="products__description-item">
            <p class="products__description-text">Vanilla sugar</p>
            <p class="products__description-text">10g</p>
          </li>
        </ul>
      </div>

      <form>
        <ul class="products__input-list">
          <li class="products__input-item">
            <input class="products__input" type="name" placeholder="Name" />
          </li>
          <li class="products__input-item">
            <input class="products__input" type="tel" placeholder="Phone" />
          </li>
        </ul>
        <textarea
          class="products__input textarea"
          placeholder="Comment"
        ></textarea>
      </form>
    </div>
  </div>
</section>
